In [1]:
import sys
sys.path.insert(0, '../holyromanpv/')
import sce_session

In [2]:
username = 'griessbaum@gmail.com'
password = '6SDuUqH96G5zP$Z'
account = '50348745'

In [3]:
session = sce_session.SCESession(username=username, 
                                 password=password,
                                 account=account)

In [4]:
session.login()

no_popup

True

In [5]:
session.make_requests_session()

no_popup

In [6]:
date = '2021-03-11'
data = session.download(date)
data

                     power
timestamp
2021-03-11 00:00:00   0.20
2021-03-11 01:00:00   0.20
2021-03-11 02:00:00   0.20
2021-03-11 03:00:00   0.19
2021-03-11 04:00:00   0.25
2021-03-11 05:00:00   0.24
2021-03-11 06:00:00   0.24
2021-03-11 07:00:00   0.47
2021-03-11 08:00:00   0.64
2021-03-11 09:00:00   0.63
2021-03-11 10:00:00   0.46
2021-03-11 11:00:00   0.37
2021-03-11 12:00:00   1.04
2021-03-11 13:00:00   0.82
2021-03-11 14:00:00   0.59
2021-03-11 15:00:00   0.42
2021-03-11 16:00:00   0.49
2021-03-11 17:00:00   0.38
2021-03-11 18:00:00   0.44
2021-03-11 19:00:00   0.70
2021-03-11 20:00:00   0.92
2021-03-11 21:00:00   0.91
2021-03-11 22:00:00   0.49
2021-03-11 23:00:00   0.23

In [7]:
session.logout()
session.quit()

no_popup
Message: element click intercepted: Element <button type="button" class="sceButton__sceBtnSmDefault__1hmG2" id="">...</button> is not clickable at point (1397, 165). Other element would receive the click: <div class="fsrAbandonButton fsrModalBackdrop" id="fsrFullScreenContainer" data-isbackdrop="true">...</div>
  (Session info: headless chrome=89.0.4389.90)

could not log out